*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.502);
    padding: 5rem 0;
    border-radius: 1rem;
}

h1{
    font-size: 10rem;
    text-align: center;
    margin: 2rem 0;
}

.btn-section{
    text-align: center;
}

.btn-section button{
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 0.2rem 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: hsla(240, 91%, 57%, 0.726);
    color: #fff;
}